<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project</title>
</head>
<body>
    <div>
        <div>
            Name is: {{ name }} <br>
            Roll is: {{ roll }} <br>
            Department is: {{ dept }} <br>
        </div>

        <br>

        <div>
            {% if check > 0 %}
                <div style="background-color: green; width: 30%; padding: 10px 0;">
                    Accepted
                </div>
            {% else %}

                <div style="background-color: red; width: 30%; padding: 10px 0;">
                    Rejected
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>