<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block link %}

    {% endblock link %}
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
{#    <link rel="stylesheet" href='{% static "css/style.css" %}'>#}
    {% block head %}

    {% endblock %}
</head>
<body>
{% include 'navbar.html' %}

<div class="bg-no-repeat bg-center bg-[url('https://images.unsplash.com/photo-1585409677983-0f6c41ca9c3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1376&q=80')]">
    {% block main %}
    {% endblock main %}
</div>

{% include 'footer.html' %}
{% block script %}

{% endblock script %}
</body>
</html>