{% extends 'main.html' %}
{% block title %}
    Information
{% endblock %}
{% block main %}
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-9 h-screen place-items-center">
            <div class="hidden md:block md:col-span-3"></div>
            <div class="md:col-span-3 w-full px-2 backdrop-blur-sm bg-white/30 md:p-4 rounded-lg">
                <form method="POST"  enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="py-1">
                            {{ field.errors }}
                            <label for="first-name-input"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                {{ field.label_tag }} </label>
                            {{ field }}
                            {% if field.help_text %}
                                <p class="text-warning">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {#                    {{ form.as_div }}#}
                    <button type="submit"
                            class="text-white mt-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Register
                    </button>
                </form>

            </div>
            <div class="hidden md:block md:col-span-3"></div>
        </div>
    </div>
{% endblock main %}
