{% extends 'main.html' %}
{% load static %}
{% block title %}
    all persons
{% endblock %}
{% block main %}
    <div class="container mx-auto min-h-screen">
        <div class="grid grid-cols-1 md:grid-cols-12">
            <div class="col-span-2"></div>
            <div class="col-span-8 p-2 backdrop-blur-sm bg-white/30 md:p-4 rounded-lg">
                <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6">
                                First Name
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Last Name
                            </th>
                            <th scope="col" class="py-3 px-6">
                                NID
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Date of Birth
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Active on
                            </th>
                            <th scope="col" class="py-3 px-6">
                                image
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for person in persons %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row"
                                    class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ person.first_name }}
                                </th>
                                <td class="py-4 px-6">
                                    {{ person.last_name }}
                                </td>
                                <td class="py-4 px-6">
                                    {{ person.n_id }}
                                </td>
                                <td class="py-4 px-6">
                                    {{ person.dob }}
                                </td>
                                <td class="py-4 px-6">
                                    {{ person.created_at }}
                                </td>
                            <td class="py-4 px-6">
                                   <img class="h-10 " src="{{ person.image.url }}" >
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-span-2"></div>
        </div>
    </div>
{% endblock %}
