{% extends 'main.html' %}
{% block title %}
    scan image
{% endblock %}
{% block head %}
    <style>
        .img-scan {
            position: absolute;
            margin: auto auto;
            left: 0;
            right: 0;
        }

        .scanner {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .fingerprint {
            position: relative;
            width: 100%;
            height: 100px;
            z-index: 999;
        {#background: url(image1.png);#}{#background-size: 300px;#}
        }

        .scanner .fingerprint::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        {#background: url(image2.png);#}{#background-size: 300px;#} animation: animate 4s ease-in-out infinite;
        }

        @keyframes animate {
            0%,
            100% {
                height: 0%;
            }
            50% {
                height: 100%;
            }
        }

        .scanner .fingerprint::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background: #3fefef;
            border-radius: 20px;
            filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
            animation: animate_line 4s ease-in-out infinite;
        }

        @keyframes animate_line {
            0%,
            100% {
                top: 0%;
            }
            50% {
                top: 100%;
            }
        }

        .scanner h3 {
        {#position: absolute;#} text-transform: uppercase;
            font-size: 2em;
            letter-spacing: 2px;
            color: #3fefef;
            filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
            animation: animate_text 0.5s steps(1) infinite;
        }

        @keyframes animate_text {
            0%,
            100% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
        }
    </style>
{% endblock %}
{% block main %}

    <div class="container mx-auto">
        <div class="grid grid-cols-12 gap-4 h-screen place-items-center">
            <div class="col-span-2"></div>
            <div class="col-span-4">
                <form id="form">
                    {% csrf_token %}
                    <div class="px-2 backdrop-blur-sm bg-white/30 md:p-4 rounded-lg">

                        <div id="dropzone" class="flex items-center justify-center w-full">
                            <label for="dropzone-file"
                                   class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                    <svg id="dropzone-svg" aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400"
                                         fill="none"
                                         stroke="currentColor"
                                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>
                                    </svg>
                                    <div id="fingerprint">
                                    </div>
                                    <img class="img-scan" id="uploadPreview"/>

                                    <div id="dropzone-text">
                                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                                                class="font-semibold">Click to upload</span>
                                            or drag and drop</p>
                                        <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX.
                                            800x400px)</p>
                                    </div>
                                    <h3 id="scan-h3" class="hidden">Scanning ....</h3>
                                </div>
                                <input name="scan_image" id="dropzone-file" type="file" class="hidden"
                                       onchange="PreviewImage();"/>
                            </label>
                        </div>

                    </div>
                    <button type="submit"
                            class="mt-12 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        Default
                    </button>

                </form>
            </div>
            <div class="col-span-4">
                <div class="px-2 backdrop-blur-sm bg-white/30 md:p-4 rounded-lg w-full">
                    <p class="hh">hello lorem34
                        djfslk sdlkfjsdklf sldfjdsf sdf</p>
                </div>
            </div>

            <div class="col-span-2"></div>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">

        function PreviewImage() {
            document.getElementById('dropzone-text').style.display = "none";
            document.getElementById('dropzone-svg').style.display = "none";
            {#var dropzone = document.getElementById('dropzone');#}
            {#dropzone.classList.add(' ss ');#}
            var element = document.getElementById("dropzone");
            var scan_h3 = document.getElementById("scan-h3");
            var fingerprint = document.getElementById("fingerprint");
            fingerprint.classList.add("fingerprint");
            element.classList.add("scanner");
            scan_h3.classList.remove('hidden')

            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("dropzone-file").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview").src = oFREvent.target.result;
            };
        }

    </script>

    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const form = document.getElementById('form');
        form.addEventListener('submit', postData);

        function postData(event) {
            event.preventDefault()
            var formData = new FormData();
            formData.append("scan_image", event.target['scan_image'].files[0]);
            let csrftoken = getCookie('csrftoken');
            formData.append('csrfmiddlewaretoken', csrftoken);

            console.log(csrftoken);

                fetch('scan', {
                    method: 'POST',
                    headers: {
                        {#'X-Requested-With': 'XHLHttpRequest',#}
                        'X-CSRFToken': csrftoken,

                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                        {#'Content-Type': 'multipart/form-data'#}
                    },
                    body: formData,
                    {#credentials: 'same-origin',#}
                })
                    .then((response) => response.json())
                    .then((data) => {
                        console.log('send')
                    })
                    .catch(error => console.log(error));
            }
    </script>
{% endblock %}